:root{
  --senja : rgba(0,12,123,100);
  --darkGreenBg : #1A4716;
  --greenBg : #4C713D;
  --orangeAccent : #F7604F;
  --peachDust : #ffd6a5;
  --deepForest : #1C3B2D;
  --pineGreen : #3A6B47;
  --dropBtnWidth : 160px;
  --gradientBG1 : linear-gradient(to bottom,#FF914D, #FF6F61, #FFD6A5);
  --gradientBG2 : linear-gradient(to bottom,#181116, #020203, #06060a);

}

*{
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

.body1{
  background: var(--gradientBG1);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
  
}

.body2{
  background: var(--gradientBG2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
  
}

.box0{
  font-size: clamp(20px, 5vw, 10px);
  height: 100vh;
  margin: 10px;
  width: 90%;
}

.box1Nav{
  margin: 5%px;
  background-color: var(--peachDust);
  height: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 1px color-mix(in srgb, var(--peachDust), rgb(188, 10, 10) 30%);
  
}
.box1Body{
  position: relative;
  margin-top: 20px;
  margin: 5%px;
  background-color:  var(--deepForest);
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 1px color-mix(in srgb, var(--darkGreenBg), rgb(29, 12, 12) 30%);
  z-index: 3;
}

.box1NavH2{
  color: var(--deepForest);
  font-size: large;
}

.box1BodyH2{
  color: var(--peachDust);
}
.btnbox1Body{
  font-weight: 800;
  font-size: 20;
  color: var(--greenBg);
  margin-top: 5%;
  border-style: none;
  height: 60px;
  width :160px;
  border-radius: 5px;
  box-shadow: 0 6px 1px color-mix(in srgb, var(--peachDust), rgb(244, 12, 12) 30%);
  background-color: var(--peachDust);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnbox1Body:hover{
  background-color: #ffffff;
}

.btnbox1Body:active{
 transform: translate(0, 5px);
 box-shadow: 0 0 0 var(--orangeAccent );

}

#boxDrop{
  font-weight: 800;
  font-size: 20;
  color: var(--peachDust);
  position: relative;
  top: -50vh;
  background-color: var(--pineGreen) ;
  border-radius: 5px;
  height: 60px;
  width :var(--dropBtnWidth);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: 0 6px 1px color-mix(in srgb, var(--pineGreen), rgb(29, 12, 12) 30%);
  transition: background-color 0.3s ease , transform 0.3s ease-in;
  transform: none;
  z-index: 1;
}

#boxDrop:hover{
  background-color: #82b08c;
}

#boxDrop:active{
  background-color: #82b08c;
  transform: translate(0, 5px);
  box-shadow: 0 0 0 ;
  transform: rotate(90deg);

}


/* for second page */